<style type="text/css">
	.thinTable { background-color:black; font-size:10pt; line-height:27px;}
	.thinTable tr{ background-color:white;}
</style>
<table width="700px" border="0" cellpadding="5" cellspacing="1" class="thinTable">
	<tr>
        <td colspan="8" align="center" valign="middle" style="height:50px;text-align: center">
        2013年度福建省药学（非临床）专业初中级技术职务任职资格考试
          <h3 align="center">准 考 证</h3>
        </td>
  </tr>
</table>  
<table width="700px" border="0" cellpadding="5" cellspacing="0" class="thinTable">
  <tr>
    <td width="80" align="right">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
    <td width="150" align="center"><wx:data componentid="report1" col="name" showlabel="false" showdata="true"/></td>
    <td width="80" align="right">准考证号：</td>
    <td width="150" align="center"><wx:data componentid="report1" col="test_no" showlabel="false" showdata="true"/></td>
    <td width="178" colspan="2" rowspan="5" align="center"><wx:data componentid="report1" col="photo" showlabel="false" showdata="true"/></td>
  </tr>
  <tr>
    <td align="right">性&nbsp;&nbsp;&nbsp;&nbsp;别：</td>
    <td align="center"><wx:data componentid="report1" col="sex" showlabel="false" showdata="true"/></td>
    <td align="right">档&nbsp;案&nbsp;号：</td>
    <td align="center"><wx:data componentid="report1" col="fn" showlabel="false" showdata="true"/></td>
  </tr>
  <tr>
    <td align="right">报考级别：</td>
    <td align="center"><wx:data componentid="report1" col="test_level" showlabel="false" showdata="true"/></td>
    <td align="right">报考专业：</td>
    <td align="center"><wx:data componentid="report1" col="spec_class" showlabel="false" showdata="true"/></td>
  </tr>
  <tr>
    <td align="right">身份证号：</td>
    <td align="center"><wx:data componentid="report1" col="idcard" showlabel="false" showdata="true"/></td>
    <td align="right">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="right">工作单位：</td>
    <td align="center"><wx:data componentid="report1" col="company" showlabel="false" showdata="true"/></td>
    <td align="right">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table width="700px" border="0" cellpadding="5" cellspacing="1" class="thinTable">   
	<tr>
        <td width="66" align="center">考试科目</td>
        <td width="100" align="center">药事管理与法规</td>
        <td width="100" align="center">(中)药学综合知识<br/>与技能</td>
        <td width="100" align="center">（中）药学专业<br/>知识</td>
        <td width="100" align="center">（中）药学专业<br/>知识一</td>
        <td width="100" align="center">（中）药学专业<br/>知识二</td>
  </tr>
	<tr>
	  <td align="center">考试日期</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
  </tr>
	<tr>
	  <td align="center">考试时间</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
	  <td align="center">&nbsp;</td>
  </tr>
	<tr>
	  <td align="center">所在考场</td>
	  <td align="center" colspan="5">&nbsp;</td>
  </tr>
	<tr>
	  <td align="center">考试地点</td>
        <td align="center" colspan="5">&nbsp;</td>
  </tr>

</table>
<table width="700px" border="0" cellpadding="5" cellspacing="1" class="thinTable">
  <tr>
    <td colspan="8" align="left" valign="middle"><h3 align="center">考 生 须 知</h3>
      <p>1、考生应提前半天熟悉考场，以免考试当天找不到考场或找错考场； <br>
        2、考生必须带齐准考证、身份证，方可进入考场；未带证件或证件不齐、不符者，不得入场； <br>
        3、考试一律用2B铅笔在答题卡上填涂作答。考生自备2B铅笔、橡皮、黑色、蓝色墨水笔（签字笔）或圆珠笔； <br>
        4、禁止将移动电话、电子记事本、计算器等带有记忆、运算或通讯功能的电子设备带至座位； <br>
        5、考试开始30分钟后，不得入场；考试期间不得在开考后60分钟内提前交卷退场； <br>
        6、严禁将答题卡、题本、试卷、草稿纸等带出考场； <br>
        7、考生必须遵守考场规则，若有作弊行为，将被取消考试资格，并按《专业技术人员资格考试违纪违规行为处理规定》（2011年人社部令第12号）处理； <br>
        8、考场没有为考生保管财物的义务； <br>
        9、考生可于2013年12月10日后登陆&ldquo;福建省食品药品监督管理局网&rdquo;（www.fjfda.gov.cn）查询考试成绩。 <br>
        10、本次准考证打印时间为：2013年10月21日-25日。 </p>
<p align="center">
    </p></td>
  </tr>
</table>
