<style type="text/css">
    body{margin:0px; padding:0px;}
    body,div,table,td{font-size: 10pt;}
</style>
<!--
<h3 align="center"><u> <wx:output value="request{city_name}"/> </u>2013年度药学专业初中级技术职务任职资格考试人员汇总表</h3>
<table width="1000px" border="1" style="font-size:9pt; ">
    <tr>
        <td colspan="4">单位（盖章）： </td>
        <td colspan="3">报考层次：<wx:output value="request{tech_name}"/></td>
        <td colspan="5">报考专业：<wx:output value="request{spec_class}"/> </td>
        <td colspan="4">填报日期：<wx:output value="request{write_date}"/></td>
    </tr>
    <wx:data/>
</table>
-->
<h3 style="text-align: center"><u> <wx:output value="request{city_name}"/> </u>药学专业初中级技术职务任职资格考试人员汇总表</h3>
<div style="text-align: center">
    单位（盖章）：&nbsp;&nbsp;&nbsp;&nbsp;
    报考层次：<wx:output value="request{tech_name}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    报考专业：<wx:output value="request{spec_class}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    填报日期：<wx:output value="request{write_date}"/>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
<div style="text-align: center">
    <wx:data/>
</div>