<style type="text/css">
	body{margin:0px; padding:0px;}
	.thinTable { background-color:black; font-size:9pt; }
	.thinTable tr{ background-color:white;}
</style>
<table width="730" border="0" cellpadding="0" cellspacing="0" style="font-size: 10pt;">
<tr>
<td  colspan="4" align="center"><h3>2013年度福建省药学（非临床）专业初中级技术职务任职资格考试报名表</h3></td>
</tr>
<tr>
<td width="50%">考生属地：<wx:data componentid="report1" col="city_name" showlabel="false" showdata="true"/></td>
<td align="right">档案号：<wx:data componentid="report1" col="fn" showlabel="false" showdata="true"/></td>
</tr>
 </table>
<table class="thinTable" cellpadding="0" cellspacing="1" width="730" border="0">
<tr>
        <td width="20" rowspan="4" align="center" style="line-height:18px">*基本情况</td>
        <td width="103" align="center">姓名</td>
    <td width="75" align="center"><wx:data componentid="report1" col="name" showlabel="false" showdata="true"/></td>
        <td width="64" align="center">性别</td>
        <td width="66" align="center"><wx:data componentid="report1" col="sex" showlabel="false" showdata="true"/></td>
        <td width="121" align="center">出生年月</td>
        <td width="116" align="center"><wx:data componentid="report1" col="birthday" showlabel="false" showdata="true"/></td>
        <td width="140" rowspan="6" align="center" valign="middle"><wx:data componentid="report1" col="photo" showlabel="false" showdata="true"/></td>
  </tr>
    <tr>
        <td width="103" align="center">身份证号码</td>
    <td colspan="3" align="center"><wx:data componentid="report1" col="idcard" showlabel="false" showdata="true"/></td>
        <td width="121" align="center">参加工作时间</td>
        <td width="116" align="center"><wx:data componentid="report1" col="work_date" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="103" rowspan="2" align="center">工作单位</td>
    <td colspan="3" rowspan="2" align="center"><wx:data componentid="report1" col="company" showlabel="false" showdata="true"/></td>
        <td width="121" align="center">手机号码</td>
        <td width="116" align="center"><wx:data componentid="report1" col="mobile" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="121" align="center">固定电话</td>
        <td width="116" align="center"><wx:data componentid="report1" col="phone" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="20" rowspan="3" align="center" style="line-height:18px">*教育情况</td>
        <td width="103" align="center">学历</td>
      <td colspan="3" align="center"><wx:data componentid="report1" col="education" showlabel="false" showdata="true"/></td>
        <td width="121" align="center">学制</td>
        <td width="116" align="center"><wx:data componentid="report1" col="edu_sys" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="103" align="center">毕业时间</td>
      <td colspan="3" align="center"><wx:data componentid="report1" col="grad_date" showlabel="false" showdata="true"/></td>
        <td width="121" align="center">学习形式</td>
        <td width="116" align="center"><wx:data componentid="report1" col="study_mode" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="103" align="center">毕业院校及专业</td>
      <td colspan="6" align="center"><wx:data componentid="report1" col="grad_scholl" showlabel="false" showdata="true"/>
          <wx:data componentid="report1" col="grad_spec" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="20" rowspan="3" align="center" style="line-height:18px">*报考信息</td>
        <td width="103" align="center">报考级别</td>
      <td colspan="3" align="center">
          <wx:data componentid="report1" col="test_level" showlabel="false" showdata="true"/>
          <wx:data componentid="report1" col="tech_name" showlabel="false" showdata="true"/>
      </td>
        <td colspan="2" align="center">任期内继续教育</td>
        <td align="center"><wx:data componentid="report1" col="cont_edu" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="103" align="center">报考专业</td>
      <td colspan="3" align="center"><wx:data componentid="report1" col="spec_class" showlabel="false" showdata="true"/></td>
        <td colspan="2" align="center">档案号(中级第二年度考生必填)</td>
        <td align="center"><wx:data componentid="report1" col="old_fn" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="103" align="center">报考科目</td>
        <td colspan="6" align="center"><wx:data componentid="report1" col="test_subject" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2" align="center">现专业技术职务</td>
        <td width="75" align="center">资格名称</td>
        <td width="64" align="center"><wx:data componentid="report1" col="now_tech_name" showlabel="false" showdata="true"/></td>
        <td width="66" align="center">批准日期</td>
        <td width="121" align="center"><wx:data componentid="report1" col="conftime" showlabel="false" showdata="true"/></td>
        <td width="116" align="center">批准文号</td>
        <td width="140" align="center"><wx:data componentid="report1" col="appr_no" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="75" align="center">专业名称</td>
        <td align="center"><wx:data componentid="report1" col="now_spec_class" showlabel="false" showdata="true"/></td>
        <td align="center">证书编号</td>
        <td width="121" align="center"><wx:data componentid="report1" col="certid" showlabel="false" showdata="true"/></td>
        <td align="center">审批部门</td>
        <td align="center"><wx:data componentid="report1" col="appr_dept" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td height="80" colspan="2" align="center">*工作简历</td>
        <td colspan="6"><wx:data componentid="report1" col="job_resume" showlabel="false" showdata="true"/></td>
    </tr>
    <tr>
        <td width="20" rowspan="2" align="center">审查意见</td>
        <td colspan="3" align="center">单位意见 </td>
        <td colspan="4" align="center">现场确认点审查意见</td>
    </tr>
    <tr>
        <td colspan="3" align="center">
          <br>
          （盖章）<br />
          <br>
年   月  日</td>
        <td colspan="4" align="center">
          <br>
          （盖章）<br />
          <br>
年   月   日</td>
    </tr>
    <tr>
        <td colspan="2" align="center">承诺以上填写内容<br />
      均真实并签名</td>
        <td colspan="6" align="center">　<br /></td>
    </tr>
    <tr>
        <td colspan="2" align="center">备注：</td>
        <td colspan="6">
        1、上一年度参加中级技术职务任职资格考试未通过者在报考剩余科目时，须填写上年度档案号，否则成绩不予滚动。<br/>
        2、单位意见由报考人员所在单位填写并盖章。<br/>
        3、&ldquo;教育情况&rdquo;中&ldquo;学历&rdquo;、&ldquo;毕业专业&rdquo;只填写与本考试有关的学历、专业。如本科读的是&ldquo;药学&rdquo;及相关专业，但又读了&ldquo;工商管理&rdquo;硕士，则只填写&ldquo;本科&rdquo;及&ldquo;药学&rdquo;相关专业<br/>
        4、*号内容为必填项目，&ldquo;现专业技术职务&rdquo;只限有专业技术职务的报名人员必填。</td>
    </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<style type="text/css">
    .thinTable { background-color:black; font-size:10pt; line-height:27px;}
    .thinTable tr{ background-color:white;}
</style>
<table width="730" border="0" cellpadding="5" cellspacing="1" class="thinTable">
    <tr>
        <td colspan="8" align="center" valign="middle" style="height:50px;text-align: center">
            <h3 align="center">承 诺 书</h3>
        </td>
    </tr>

    <tr>
        <td colspan="6" >
            &nbsp;&nbsp;&nbsp;&nbsp;本人已仔细阅读《福建省公务员局福建省人力资源开发办公室福建省食品药品监督管理局关于做好2013年度（首次）全省药学（非临床）专业初中级技术职务任职资格考试有关工作的通知》（闽人发[2013]  号），完全了解所报考专业技术职务任职资格的条件要求。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;我在此郑重承诺：                                                                            <br>
            一、网络报名及现场确认提交的所有信息及考试期间提供的证件、资料准确、真实、有效，不弄虚作假。<br />
            二、在规定时间内完成报名、现场确认、交费和打印准考证事宜，并按时参加考试，逾期按自动放弃考试处理。<br />
            三、认真履行报考人员的各项义务，维护网站和他人的合法权益，不做扰乱报名和考试秩序的行为。<br />
            四、遵守考试纪律和考场规则，遵从考试组织部门的安排，服从监考人员的检查、监督和管理，不参与任何形式的考试舞弊。<br />
            五、本人不属于闽人发[2013]  号文件报考条件中第三条规定的五种不得申请参加药学专业技术职务任职资格考试情形之一。<br />
            六、如有违纪违规及违反上述承诺的行为，自愿按《专业技术人员资格考试违纪违规行为处理规定》（2011年人社部令第12号）处理，并承担相应的责任和由此造成的一切后果。<br />
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td width="610" colspan="6" align="center"> 考生签名：<br />
            <br />  <br />
            年     月     日 <br /></td>
    </tr>
</table>

