<style type="text/css">
	.thinTable { background-color:black; font-size:10pt; line-height:27px;}
	.thinTable tr{ background-color:white;}
</style>
<table width="700px" border="0" cellpadding="5" cellspacing="1" class="thinTable">   
	<tr>
        <td colspan="8" align="center" valign="middle" style="height:50px;text-align: center">
            <h3 align="center">承 诺 书</h3>
        </td>
  </tr>
  
  <tr>
    <td colspan="6" > 
    &nbsp;&nbsp;&nbsp;&nbsp;本人已仔细阅读《福建省公务员局福建省人力资源开发办公室福建省食品药品监督管理局关于做好2013年度全省药学（非临床）专业初中级技术职务任职资格考试有关工作的通知》（闽人发[2013]  120号），完全了解所报考专业技术职务任职资格的条件要求。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;我在此郑重承诺：                                                                            <br>
    一、网络报名及现场确认提交的所有信息及考试期间提供的证件、资料准确、真实、有效，不弄虚作假。<br />
      二、在规定时间内完成报名、现场确认、交费和打印准考证事宜，并按时参加考试，逾期按自动放弃考试处理。<br />
      三、认真履行报考人员的各项义务，维护网站和他人的合法权益，不做扰乱报名和考试秩序的行为。<br />
      四、遵守考试纪律和考场规则，遵从考试组织部门的安排，服从监考人员的检查、监督和管理，不参与任何形式的考试舞弊。<br />
      五、本人不属于闽人发[2013]120号文件报考条件中第三条规定的五种不得申请参加药学专业技术职务任职资格考试情形之一。<br />
      六、如有违纪违规及违反上述承诺的行为，自愿按《专业技术人员资格考试违纪违规行为处理规定》（2011年人社部令第12号）处理，并承担相应的责任和由此造成的一切后果。<br />
      <br />
      <br />
    </td>
  </tr>
  <tr>
    <td width="610" colspan="6" align="center"> 考生签名：<br />
      <br />  <br />
      年     月     日 <br /></td>
  </tr>
</table>
